.card {
    float: left;
    margin:10px auto;
    border-radius: 10px;
}
.col-3 {
    max-width:33%;   
}
img {
    padding:10px;
}
.card-body {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}